.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0px;
}
.h2{
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #0c2461;
}
.form{
    width: 600px;
    padding: 20px 20px;
    margin: 20px 0px;
    background-color: #D6A2E8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.label {
    font-size: 25px;
    color: #30336b;
    margin-top: 10px;
    display: block;
}
.input{
    width: 100%;
    padding:16px 10px;
    margin: 16px 0px;
    background-color: #dff9fb;
    border: 2px solid #30336b;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.input:focus{
    outline: none;
    border: 2px solid #a5b1c2;
}
.button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    text-align: center;
    width: 100%;
    padding: 16px 0px;
    font-size: 22px;
    color: white;
    background-color: #4b6584;
    text-decoration: none;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.btn:hover{
    background-color: #a5b1c2;
    color: black;
}
@media (min-width:701px) and (max-width:1000px){
    .input{
        padding:14px 0px;
    }
}
@media (min-width:250px) and (max-width:500px){
    .input{
        padding:10px 5px;
        margin: 10px 0px;
    }
    .form{
        width:300px;
    }
    .h2{
        font-size: 30px;
    }
    .label{
        font-size: 20px;
    }
    .btn{
        width:100%;
        padding: 10px 0px;
    }
}